.form-wrapper {
  border: 1px solid black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
   /* Default padding for small screens */
}
.auth-wrapper{
  padding-left: 0.5rem ;
  padding-right: 0.5rem ;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* Medium screens (e.g., tablets) */
@media (min-width: 768px) {
  .auth-wrapper {
    padding-left: 10rem;
    padding-right: 10rem; /* Increase padding-left for medium screens */
  }
}

/* Large screens (e.g., desktops) */
@media (min-width: 1024px) {
  .auth-wrapper {
    padding-left: 18rem;
    padding-right: 10rem; /* Increase padding for large screens */
  }
}

.custom-input:focus {
    border-color:gray !important; 
    
  
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.2); 
    outline: none; 
  }
  .custom-input{
    border-radius: 2rem;
    height:2rem !important;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    font-size: x-small;
  }
  .auth-button{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background: rgb(0,0,0);
    color:white;
    border:none;
    width:100%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  .date-input{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    width: 10rem;
  }
  .authOption-button{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;

    background: rgba(0,0,0,0.3);
    border:none;
    width:10rem !important
  }
  .form-label{
    font-size: x-small;
  }
  .small-font{
    font-size: x-small;
  }
  
  .auth-line {
    width: 100%;
    height: 2px;
    background-color: gray;
  }
  .inline-block {
    white-space: nowrap; /* Prevent the text from breaking into multiple lines */
    text-align: center; /* Center-align the text */
  }
  .round-side-border{
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius : 1.5rem;
  }
.grey-text{
  color:gray;
}

.responsive-padding-sides{
  padding-left: 3rem;
  padding-right: 3rem
  
}


/* Medium screens (≥768px) */
@media (min-width: 768px) {
  .responsive-padding-sides {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* Large screens (≥1200px) */
@media (min-width: 1200px) {
  .responsive-padding-sides {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
