.custom-input{
    border-radius: 2rem;
    border-color: black;
}
.line{
    background-color: black;
    width: 4rem;
    height: 0.5rem;
}
.book-button{
    color:white;
    background-color: black;
    border-radius: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width:8rem
}